**Lab Assignment 2**

Question 1

In [5]:
L=[10,20,30,40,50,60,70,80]
print(L)
L.append(200)
print(L)
L.append(300)
print(L)
L.remove(10)
print(L)
L.remove(30)
print(L)
ascending_sorted=sorted(L)
print(ascending_sorted)
descending_sorted=sorted(L,reverse=True)
print(descending_sorted)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80, 200]
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

Question 2

In [7]:
scores=(45,89.5,76,45.4,89,92,58,45)
highest_score=max(scores)
print(highest_score)
highest_index=scores.index(highest_score)
print(highest_index)
lowest_score=min(scores)
print(lowest_score)
lowest_count=scores.count(lowest_score)
print(lowest_count)
reversed_list=list(scores[::-1])
specific_score = float(input("Enter the specific score to check: "))
if specific_score in scores:
    specific_index = scores.index(specific_score)
    print(f"The score {specific_score} is present at index {specific_index}.")
else:
    print(f"The score {specific_score} is not present in the tuple.")

92
5
45
2
Enter the specific score to check: 76
The score 76.0 is present at index 2.

Question 3

In [8]:
import random
from sympy import isprime
random_numbers=[random.randint(100,900) for _ in range(100)]
odd_numbers=[num for num in random_numbers if num%2!=0]
print(odd_numbers)
even_numbers=[num for num in random_numbers if num%2==0]
print(even_numbers)
prime_numbers=[num for num in random_numbers if isprime(num)]
print(prime_numbers)

[559, 345, 861, 387, 731, 511, 429, 773, 717, 611, 107, 205, 795, 587, 567, 187, 319, 313, 643, 173, 531, 495, 161, 377, 781, 833, 875, 839, 739, 769, 561, 889, 779, 553, 877, 203, 603, 265, 605, 653, 617, 259, 469, 371, 387, 745, 219, 357, 251, 741, 309]
[612, 496, 674, 506, 362, 164, 122, 222, 266, 226, 720, 250, 762, 482, 108, 656, 208, 138, 484, 730, 682, 122, 228, 750, 244, 546, 610, 276, 148, 696, 500, 476, 692, 338, 704, 594, 472, 644, 900, 402, 314, 822, 514, 448, 530, 550, 634, 354, 150]
[773, 107, 587, 313, 643, 173, 839, 739, 769, 877, 653, 617, 251]

Question 4

In [9]:
A={34,56,78,90}
B={78,45,90,23}
union_scores=A|B
intersection_scores=A&B
symmetric_difference_scores=A^B
is_subset=A<=B
is_superset=B>=A
specific_score=int(input("Enter the score to remove from set A: "))
if specific_score in A:
    A.remove(specific_score)
    print(f"Score {specific_score} removed from set A.")
else:
    print(f"Score {specific_score} is not present in set A.")
print("Union of scores:",union_scores)
print("Intersection of scores:",intersection_scores)
print("Symmetric difference of scores:",symmetric_difference_scores)
print("Is A a subset of B:",is_subset)
print("Is B a superset of A:",is_superset)

Enter the score to remove from set A: 56
Score 56 removed from set A.
Union of scores: {34, 45, 78, 23, 56, 90}
Intersection of scores: {90, 78}
Symmetric difference of scores: {34, 45, 23, 56}
Is A a subset of B: False
Is B a superset of A: False

Question 5

In [11]:
sample_dict={'name':'Kelly','age':25,'salary':8000,'city':'New york'}
print(sample_dict)
sample_dict['location']=sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}